<div class="jumbotron text-center">
  <h2>Title: <%= event["title"] %></h2>
  <div>
    <p></p>
  </div>

  <label for="description">Description:</label>
  <p id="description"><%= event.description %></p>
</div>
