<div class="jumbotron text-center">
  View Event <% include layout%>
  <h1>Title: <%= event["title"] %></h1>
  <div>
    <h4>Date: <%= event.startDate %> - <%= event.endDate %></h4>
  </div>
  <p><%= event.description %></p>
</div>
