<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Document</title>
  </head>
  <body>
    <!-- Header -->
    <header id="site-header">
      <div class="navbar nav-inverse">
        <div class="container">
          <div class="navbar-header">
            <a href="/" class="navbar-brand">Virtual Events</a>
          </div>
        </div>
      </div>
    </header>
    <!-- Main Section -->
    <main id="site-main">
      <div class="container">
        <%- body%>
      </div>
    </main>
    <!-- Footer -->
    <footer id="site-footer">
      Copyright &copy; 2020 Jasterix
    </footer>
  </body>
</html>
